/* CSS Document */

body {
	padding: 0;
	margin: 0;
}

#game {
	width:100%;
	position:relative;
}

#bg_canvas {
	width: 100%;
	cursor:none;
	
	position: absolute;
}

#game_canvas {
	width: 100%;
	cursor:none;
	
	background:transparent;
	
	position: absolute;
	
	bottom:0;
	right:0;
	left:0;
	top:0;
}

#ui_canvas {
	width: 100%;
	cursor:none;
	
	background:transparent;
	
	pointer-events: none;
	
	position: absolute;
}

#cursor_canvas {
	width: 100%;
	cursor:none;
	
	pointer-events: none;
	
	background:transparent;
	
	position: absolute;
}

#game_topbar {
	position:absolute;
	z-index: 100;
	
	width: 100%;
	
	height:50px;
	top:-50;
	opacity: 0;
	
	background: rgba(0,0,0,0.8);
	
	box-shadow: 0 0 20px black;
}

#game_botbar {
	display:none;
	
	position:absolute;
	z-index: 100;
	
	height:30px;
	
	background: rgba(0,0,0,0.5);
	
	top: 50%;
	
	width: 100%;
}

#searchBox {
	
	
	background:rgba(0,0,0,0.5);
	cursor: none;
	
	color:lightgrey;
	
	font-size:18px;
	width: 31%;
	
	margin-top: 10px;
	
	float:right;
}